* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

}

a {
    text-decoration: none;
}

.menu_left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 311px;
    border-right: 1px solid #dbdbdb;
    padding: 8px 12px 20px 12px;
    margin-bottom: 19px;
}

.logo_ins {
    padding: 25px 12px 16px 12px;
    margin-bottom: 19px;
}

.main_content {
    margin-left: 600px;
}

.linkto {
    display: flex;
    color: black;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 4px;
    cursor: pointer;

}

.linkto.active {
    font-weight: 700;
}

.linkto:hover {
    background-color: #f2f2f2;
    border-radius: 8px;
}

.linkto.more {
    margin-top: 298px;
}

.icon {
    font-size: 22px;
    transition: all 0.1s ease-in-out;
}

.linkto:hover .icon {
    font-size: 24px;
}

.linkto.user {
    gap: 12px;
    margin-left: 4px;
    display: flex;
    justify-content: flex-start;
}

.img_user {
    width: 25px;
    height: 25px;
    margin-left: -6px;
    border-radius: 50%;
}

.linkto:hover .img_user {
    transform: scale(1.1);
}

.main_content {
    padding-top: 22px;
    display: flex;
}

.content_story {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 18px;
}
.story_1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    width: 64px;
}
.story {
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
    border-radius: 50%;
    padding: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_story {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
}

.story.seen {
    background: #e6e6e6;
}

.name_story {
    text-align: center;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
    display: block;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.content_post {
    margin-top: 43px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_1 {
    width: 470px;
}

.avt {
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
    border-radius: 50%;
    padding: 2px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avt_user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
}
.header_content {
    display: flex;
    justify-content: space-between;
}

.header_content_left {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.name_user {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    
}
.check {
    margin-top: 3px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
}

.icon_post {
    cursor: pointer;
    margin-top: 13px;
}

.img_content {
    margin-top: 10px;
}
.img {
    width: 471px;
    height: 580px;
    border-radius: 3px;
}

.action_content{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.action_content_left{
    display: flex;
    gap: 15px;
}

.icon_action::before {
    font-size: 24px;
    cursor: pointer;
}
.icon_action:hover {
    color: #737373;
}
.like_content {
    margin-top: 12px;
}

.like{
    font-size: 14px;
    font-weight: 600;
}

.caption_content {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    gap: 5px;
}
.name_caption {
    font-weight: 600;
}
.cmt_content {
    border-bottom: 1px solid #e4e4e4;
    display: flex;
}
.cmt {
    border: none;
    outline: none;
    width: 100%;
    padding-bottom: 20px;
}

.icon_cmt{
    color: #aaa6a6;
}
.icon_cmt:hover{
    color: #d3d3d3;
}